.top-left-banner{
    width: 23%;
    display: inline-block;
    line-height: 0.5;
    margin-right: 2%;
    .ant-card-body{
        padding: 10px;
    }
    height: 100px;
}
.banner-title{
    width: 100%;
    font-size: 18px;
    color: #6C7080;
    line-height: 30px;
}
.banner-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .icon-num{
        font-size: 40px;
        color: #24282E;
        font-weight: 200;
    }
    .icon-img{
        width: 50px;
    }
}
.top-right-banner{
    .ant-card-body{
        padding: 0 10px;
    }
    height: 100px;
}
.top-right-banner-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .item-detail{
        width: 33%;
        margin-top: 18px;
        position: relative;
        .item-num {
            text-align: center;
            font-size: 28px;
            margin-bottom: -2px;
            color: #24282E;
            font-weight: 200;
        }
        .item-title {
            text-align: center;
            font-size: 16px;
            color: #949BAD;
            font-weight: 200;
        }
        .border-left{
            width: 1px;
            height: 36px;
            background: #dedede;
            display: inline-block;
            position: absolute;
            right: 0;
            top: 17px;
        }
    }
}
.w100{
    width: 100%;
}
.tc{
    text-align: center;
}
.column-title{
    font-size: 24px;
    color: #24282E;
    height: 30px;
    width: 100%;
    margin-bottom: 0;
    padding-left: 6px;
}
.bedIndex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.patient-card{
    width: 212px;
    height: 192px;
    display: inline-block;
    margin: 5px;
    margin-top: 10px;
    .cardTopSpe{
        background: #E4E9F1;
        padding: 4px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #e8e8e8;
    }
    .cardTopGreen{
        background: #329E82;
        padding: 4px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #e8e8e8;
        .patientBeds{
            font-size: 18px;
            color:#fff;
        }
        .patientName{
            font-size: 12px;
            font-weight: 400;
            color:#fff;
        }
        .patienTAge{
            font-size: 12px;
            font-weight: 400;
            color:#fff;
            padding-left: 6px;
        }
    }
    .ant-card-body{
        padding: 0;
    }
    .ant-card-head-title{
        padding: 5px 0;
    }
}
.personBeds{
    align-self: center;
    .isInBedIcon{
        width: 30px;
        height: 30px;
        border-radius: 0;
    }
}
.patientBeds{
    font-size: 18px;
    color:#24282E;
}
.patientName{
    font-size: 12px;
    font-weight: 400;
    color:#6C7080;
}
.patienTAge{
    font-size: 12px;
    font-weight: 400;
    color:#6C7080;
    padding-left: 6px;
}
.cardCont{
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 18px 10px;
    border-bottom: 1px solid #dedede;
    .cardContDetails{
        >span{
            display: block;
            text-align: center;
        }
        .count{
            font-size: 22px;
            font-weight: 400;
            color: #222;
        }
        .name{
            font-size: 12px;
            color: #6C7080 ;
            margin-top: 6px;
        }
    }
}
.cardBottom{
    text-align: right;
    padding: 6px 10px;
    margin-top: 6px;
    .icon-set{
        cursor: pointer;
        font-size: 18px;
        width: 20px;
        height: 20px;
    }
    .icon-set-focus{
        cursor: pointer;
        font-size: 18px;
        width: 20px;
        height: 20px;
        color: #00B958;
    }
}
.messageList{
    list-style-type: none;
    padding: 10px;
    width: 100%;
    background: #fff;
    margin-top: 10px;
    min-height: 500px;
    li{
        border-bottom: 1px solid #dedede;
        padding: 5px;
        cursor: pointer;
        >div{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            .bedName{
                font-size: 16px;
                color: #000;
            }
            .errorDetails{
                color: #000;
                font-size: 16px;
            }
            .time{
                font-size: 14px;
            }
        }
    }
}
.modalForm{
    .ant-modal-header{
        background: #128875;
        text-align: center;
        .ant-modal-title{
            color: #fff;
            font-size: 20px;
        }
    }
    .ant-form-item{
        margin-bottom: 0;
    }
    .inputStyle{
        width: 200px;
    }
    .firseItem{
        display: inline-block;
        height: 56px;
        width: 15px;
        margin-right: 10px;
        text-align: right;
        vertical-align: top;
    }
    .secondItem{
        display: inline-block;
        height: 56px;
        width: 60px;
        margin-right: 10px;
        vertical-align: top;
    }
    .thirdItem{
        display: inline-block;
        height: 56px;
        width: 330px;
        vertical-align: top;
    }
    .specialItem{
        display: inline-block;
        height: 56px;
        width: 90px;
        vertical-align: top;
    }
    .specialItem2{
        display: inline-block;
        height: 56px;
        width: 210px;
        vertical-align: top;
    }
    .ant-form-text{
        padding-left: 8px;
        font-size: 12px;
    }
    .fourItem{
        display: block;
        margin-left: 92px;
        margin-top: -4px;
        margin-bottom: 20px;
    }
}
.modifyBtn{
    background: #128875 ;
    color: #fff;
}