.dataStatistics{
    .bedsInfo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background: #fff;
        justify-content: space-around;
        padding: 20px 10px;
        .content-item{
            text-align: center;
            .roomsCount{
                font-size: 20px;
                color: #000;
                margin: 0;
            }
            .roomsName{
                font-size: 16px;
                margin: 0;
            }
        }
    }
    .titleStyle{
        padding: 10px 30px;
        background: #fff;
        height: auto;
    }
    .dataTable{
        background: #fff;
        padding: 30px;
        margin-top: 20px;
    }
}
.column-title{
    height: 30px;
    margin-bottom: 0;
    padding-left: 6px;
    width: 100%;
    margin-bottom: 0;
    padding-left: 6px;
    font-size:16px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    color:rgba(48,63,92,1);
}
.columnLeft{
    float: left;
    display: inline-block;
}
.columnRight{
    float: right;
    margin-right: 4.5%;
}