@import "../../../themes/vars.less";

.logo {
    height: 64px;
    background: rgba(255, 255, 255, 0.2);
    padding: 19px 0;
    background: #0E7262;
  span{
      display: inline-block;
      width: 100%;
      text-align: center;
    img{
        width: 150px;
    }
  }
}
#components-layout-demo-custom-trigger{
    background: #128875;
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 200px);
    z-index: 99;
}
#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }
  
  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
  }
  #self_theme{
    .selectIcon{
        float: right;
        margin-top: 14px;
        margin-right: 0;
        display: none;
      }
  }
  .margin_left200{
      margin-left: 200px;
  }
  .rightMenu{
    float: right;
    background: transparent !important;
    margin-top: 10px;
    border: none;
    color: #fff !important;
}
.ant-menu-submenu > .ant-menu {
    background-color: #fff;
    z-index: 999;
    position: relative;
}
.ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-submenu-selected{
    color: #fff;
    border-bottom: 2px solid #fff !important;
    .ant-menu-submenu-title {
        color: #fff;
    }
}