
.column-title{
    // font-size: 28px;
    // color: #000;
    // height: 30px;
    // width: 100%;
    // margin-bottom: 0;
    // padding-left: 6px;
    width: 100%;
    margin-bottom: 0;
    padding-left: 6px;
    font-size:16px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    color:rgba(48,63,92,1);
}
.bedSet{
    .btn_bed_set{
        margin: 0 10px;
        background: #128875;
        border: 1px solid #128875;
    }
}
.tr{
    text-align: right;
}
.tc{
    text-align: center;
}
.mt20{
    margin-top: 20px;
}
.bedCard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .ant-card-head{
        background: #fff;
        .ant-btn{
            box-shadow: none;
            color: #329E82;
            font-size: 18px;
            border:none;
        }
    }
    .bedCardCont{
        padding: 5px 0;
        .bedName{
            font-size: 16px;
            margin-right: 36px;
        }
        .bedCount{
            font-size: 24px;
            .ftSpe{
                font-size: 16px;
            }
        }
    }
    .itemCardCommonStyle{
        display: inline-block;
        width: 110px;
        background: #F4F5F6;
        height: 150px;
        margin: 0 10px 10px 0;
        vertical-align: top;
        .ant-card-head{
            background: #F4F5F6;
            padding: 0;
            text-align: center;
        }
        .ant-card-head-title{
            padding: 8px 0;
            font-weight: 400;
            font-size: 16px;
            color: #222;
        }
    }
    .itemCardBlueStyle{
        display: inline-block;
        width: 110px;
        background: #329E82;
        height: 150px;
        margin: 0 10px 10px 0;
        vertical-align: top;
        .ant-card-head{
            background: #329E82;
            padding: 0;
            text-align: center;
        }
        .ant-card-head-title{
            padding: 8px 0;
            font-weight: 400;
            font-size: 16px;
            color: #fff;
        }
    }
}
.selectStyle{
    width: 100%;
}
.speCenter{
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.newRoomInout{
    width: 50%;
}
.inputSpe{
    width: 50%;
    height: 34px;
    border: 1px solid #d9d9d9;
    outline: none;
    padding-left: 10px;
}
.exchangeBg{
    background: #fff;
    border: 0 solid #E6E9EB;
    border-radius: 2px;
    padding-left: 26px;
    padding-bottom: 22px;
    .paitentAreaTitle{
        width: 100%;
        height: 50px;
        line-height: 50px;
        color: #222;
        font-size: 14px;
    }
}
.introItem{
    width: 206px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    font-size: 12px;
}
.speWidth{
    width: 96px;
}
.changeWrap{
    display: inline-block;
    width: 56px;
    margin: 6px 10px 0;
    img{
        width: 100%;
    }
}