.bodyWrap{
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0px;
}
.body{
    box-sizing: border-box;
    display: flex;
    flex: 1 1;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    flex-direction: row;
}
.content{
    padding-left: 4%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    left: 0%;
    overflow-y: auto;
    align-items: left;
    justify-content: space-around;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background: url(../assets/loginBg.png);
    .login_introduction{
        .chinese{
            font-size: 36px;
            color: #fff;
        }
        .english{
            font-size: 36px;
            color: #fff;
        }
    }
    .login_bottom_copyright{
        .company{
            font-size: 24px;
            color: #fff;
        }
    }
}
.nav{
    position: absolute;
    top: 20%;
    left: 60%;
    width: 330px;
    height: 250px;
    box-sizing: border-box;
    border-top: 1PX solid #ddd;
    z-index: 100;
}
.login_title{
    font-size: 20px;
    color: #000;
}
.input-style{
    width: 200px;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}
.input-style:focus{
    border: none !important;
    outline: 0 !important;
    box-shadow: none;
}
.has-error .ant-input:not([disabled]):hover {
    border: none;
    outline: 0 !important;
    box-shadow: none;
}
.has-error .ant-input, .has-error .ant-input:hover {
    border: none;
    outline: 0 !important;
    box-shadow: none;
}

.submit-btn{
    background-color: #0E7262;
    >span{
      color: #fff;
    }
  }
  .submit-btn:hover{
    background-color:#128875;
  }
.bodyWrap .ant-form-item-label{
    text-align: left;
}
.bodyWrap{
    .ant-form-item{
        border-bottom: 1px solid #ebedf0;
    }
    .ant-form-item-label label {
        color: rgba(0, 0, 0, 0.7);
    }
}
.login_title{
    margin-bottom: 40px;
}
.ant-form-explain{
    padding-left: 11px;
}