.w100{
    width: 100%;
}
.tc{
    text-align: center;
}
.column-title{
    height: 30px;
    width: 100%;
    margin-bottom: 0;
    padding-left: 6px;
    font-size:16px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    color:rgba(48,63,92,1);
}
.card_grid{
    width: 200px;
    background: #fff;
    margin: 5px;
    padding: 30px 0;
    cursor: pointer;
    text-align: center;
}
.scheme_name{
    font-size: 14px;
}
.scheme_type{
    font-size: 16px;
    color: #000;
}
.add_scheme{
    width: 100%;
    height: 68px;
    background: #fff;
    padding: 20px;
    margin-top: 20px;
}
.form_wrap{
    width: 100%;
    height: 616px;
    background: #fff;
    padding: 20px 20px 0;
    .ant-form-item{
        margin-bottom: 0;
    }
    .inputStyle{
        width: 200px;
    }
    .firseItem{
        display: inline-block;
        height: 56px;
        width: 15px;
        margin-right: 10px;
        text-align: right;
        vertical-align: top;
    }
    .secondItem{
        display: inline-block;
        height: 56px;
        width: 60px;
        margin-right: 10px;
        vertical-align: top;
    }
    .thirdItem{
        display: inline-block;
        height: 56px;
        width: 330px;
        vertical-align: top;
    }
    .specialItem{
        display: inline-block;
        height: 56px;
        width: 90px;
        vertical-align: top;
    }
    .specialItem2{
        display: inline-block;
        height: 56px;
        width: 210px;
        vertical-align: top;
    }
    .ant-form-text{
        padding-left: 8px;
        font-size: 12px;
    }
    .fourItem{
        display: block;
        margin-left: 92px;
        margin-top: -4px;
        margin-bottom: 20px;
    }
}
.addWaringItem{
    font-size: 16px;
    color: #128875 ;
}
.modifyModal{
    .ant-modal-header{
        background: #128875;
        text-align: center;
        .ant-modal-title{
            color: #fff;
            font-size: 20px;
        }
    }
}
.form_list_wrap{
    width: 100%;
    height: 600px;
    background: #fff;
    padding: 20px;
    ul{
        list-style-type: none;
        width: 100%;
        padding: 0;
        li{
            padding: 8px;
            .item_name{
                width: 80px;
                display: inline-block;
                vertical-align: top;
            }
            .item_cont{
                width: 260px;
                display: inline-block;
                color: #242424;
                .messType{
                    color: #8E9AAB;
                    font-size: 12px;
                }
            }
        }
    }
}
.modifyBtn{
    background: #128875 ;
    color: #fff;
}